# Ignore all files
*.*

# File Types
!*.mps
!*.dat
!*.json
!*.txt
!*.project
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!*.rb

# Other Needed Files
!.gitignore
!README.md
!dazed/*
!GameUpdate.lnk

# Ignore
previous_patch_sha.txt
kabe3_save.dat
kabe3_system.dat
psbpack.dat

# Images
!20922W.gax
!20922W.png
!2Np0sk.gax
!2Np0sk.png
!3876K3.gax
!3876K3.png
!5NoHDf.gax
!5NoHDf.png
!5O5V9p.gax
!5O5V9p.png
!6hDWux.gax
!6hDWux.png
!74Z2lW.gax
!74Z2lW.png
!7L1Kg1.gax
!7L1Kg1.png
!81WTIk.gax
!81WTIk.png
!AZoG9Y.gax
!AZoG9Y.png
!IB485h.gax
!IB485h.png
!Lfw1qJ.gax
!Lfw1qJ.png
!Neef7M.gax
!Neef7M.png
!NLhgMI.gax
!NLhgMI.png
!Q0WI6Z.gax
!Q0WI6Z.png
!Xk1516.gax
!Xk1516.png
!fUBke4.gax
!fUBke4.png
!GKBRkg.gax
!GKBRkg.png
!D4qAZ0.gax
!D4qAZ0.png
!N082XK.gax
!N082XK.png